.navbar {
  background-color: black;
  height: 5vh;
  font-weight: 300;
  color: white;
  text-align: center;
  align-items: center;
}


.nav-link {
  margin-right: 30px;

  font-size: 1.2rem;
}

.navbar-nav {
  padding-top: 10px;
}

.companyHeader {
  margin-left: 30%;

}


.productImage {
  width: 100px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  margin: 2.5%;
}

.products {
  margin-left: 11%;
  display: flex;
  flex-wrap: wrap;
}